extends layout

block content
  h1= title
  p Welcome to #{title}

  blockquote
    p This shows all the statistics of the System

  .container
    h3.text-center Stock Stats
    
    canvas#lineChart
