body {
  background-color: #dedede;
}

.navbar{
  margin-bottom: 20px;
}

.nav-item.active{
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0 1rem;
}

.card{
  background-color: #eeeeee;
}

.content{
  padding-top: 5rem;
}

#preview {
  margin: 5px 0;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

.bg-white, table, canvas{
  background-color: #fefefe;
  padding: 20px;
  border-radius: 1em;
  font-size: 13px;
}

.footer{
  background-color: #555555;
  padding-bottom: 20px;
  padding-top: 60px;
  color: white;
  bottom: 0;
}

.empty{
  height: 30rem;
  border: 2px solid black;
  border-radius: 5px;

}

.login{
  padding: 5rem 30%;
}
.logo{
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.errors{
  color: red;
  padding: 10px;
  text-align: right;
}

.errors ul li {
  list-style-type: none;
}

.decimal-list{
  list-style-type: decimal-leading-zero;
}